* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
}

/*Estilo principal de todos los contenedores*/

.contenedor {
    display: grid;
    grid-template-areas: 
    "header header header"
    "aside oferta oferta"
    "aside contenido contenido"
    "aside contenido contenido"
    "footer footer footer";
    grid-gap: 10px;
}

/*Estilo header*/

.header {
    background-color: black;
    grid-area: header;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-height: 20vh;
    margin-bottom: 15px;
}

.header > div {
    padding: 20px;
    margin: 5px;
    font-size: 1.5em;
}

.header:hover {
    background-color: rgb(20, 20, 20);
    transition: .2s;
}

/*Estilo aside*/

.aside {
    grid-area: aside;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.aside > div {
    padding: 20px;
    margin: 20px;
}

/*Estilo imagenes productos*/

.imgP {
    width: 250px;
    padding: 20px;
    transition: .2s;
}

.imgP:hover {
    transform: scale(1.2);
}

/*Estilo ofertas*/

.ofertaPadre {
    grid-area: oferta;
}

.oferatHijo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 20%;
}

.oferta > div {
    display: flex;
}

#ofertas_title {
    padding: 20px;
    margin: 20px;
}

.ofertaProducto {
    width: 20%;
}

/*Estilo contenido*/

.contenido {
    grid-area: contenido;
}

/*Estilo del footer*/

.footer {
    grid-area: footer;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 25px;
}

.foot {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
}

.footer div ul li {
    list-style-type: none;
    text-align: center;
}

.footer div a img {
    width: 150px;
    height: 120px;
}

.footer:hover {
    background-color: rgb(20, 20, 20);
    transition: .2s;
}

/*Estilo iconos*/

i {
    font-size: 25px;
    padding: 20px;
}

/*Estilo del menu*/

nav ul li {
    display: inline-block;
    list-style-type: none;
    padding: 10px;
}

.nav {
    width: 57%;
    display: flex;
    justify-content: center;
}

.shop {
    width: 21%;
    display: flex;
    justify-content: right;
}

/*Estilo del logo*/

.logo {
    width: 21%;
}

.logo a > img {
    width: 100px;
}

/*Estilo enlaces*/

a {
    color: rgb(24, 219, 105);
    text-decoration: none;
    border: 1px solid rgba(255, 255, 255, 0);
}

a:hover {
    color: rgb(255, 255, 255);
}